/* Basic */
.navigator {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: whitesmoke;
    background: linear-gradient(0deg, rgb(230, 230, 230) 0%, whitesmoke 2%);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: steelblue;
}

.navbar-brand {
    padding-left: 40px;
    float: left;
}

.navbar-toggler {
    float: right;
}

.navbar-nav {
    padding-right: 40px;
    float: right;
}

#main-display {
    max-width: 2000px;
}

footer {
    background-color: whitesmoke;
    background: linear-gradient(0deg, whitesmoke 98%, rgb(230, 230, 230) 100%);
}

footer .container {
    width: 160px;
    margin: 0 auto;
}

/* Bio Panel */
#bio-panel {
    padding-top: 100px;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0px;
    padding-bottom: 75px;
}

#bio-panel img {
    width: 200px;
    max-width: 100%;
    padding: 10px;
    border-radius: 50%;
}

#bio-panel h1 {
    padding-left: 10px;
    padding-right: 10px;
}

#bio-panel h2 {
    padding-left: 10px;
    padding-right: 10px;
}

#bio-panel ul {
    list-style: none;
    padding-left: 10px;
}


/* Projects Column */
#projects-column {
    padding-top: 100px;
}

.project-card {
    margin: 0 auto;
}

.project-card h1, 
.project-card h2, 
.project-card h6, 
.project-card p {
    padding-left: 10px;
    padding-right: 10px;
    clear: left;
}

.project-card img {
    width: 800px;
    max-width: 100%;
    float: right;
    padding: 10px;
}

.project-card hr {
    clear: both;
}

.project-card ul {
    padding: 0;
    clear: left;
    overflow: hidden;
}

.project-card li {
    list-style: none;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}


/* Responsive Media Queries */
@media (max-width: 1550px) {
    .project-card {
        max-width: 800px;
    }

    .project-card img {
      float: none;
    }
}

@media (max-width: 1150px) {
    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.4em;
    }

    #bio-panel img {
        padding: 5px;
    }

    #bio-panel h1 {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #bio-panel h2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #bio-panel ul {
        padding-left: 5px;
    }
}

@media (max-width: 991px) {
    .navbar-toggler-icon {
        height: 18px;
        margin-top: -6px;
    }

    .navbar-brand {
        font-size: .8em;
    }

    .nav-link {
        font-size: .6em;
    }

    #bio-panel img {
        float: left;
    }

    #bio-text-container {
        padding-top: 50px;
        padding-bottom: 15px;
    }

    #bio-panel h1 {
        padding-left: 210px;
    }

    #bio-panel h2 {
        padding-left: 210px;
    }

    #bio-panel ul {
        padding-left: 210px;
    }

    #bio-panel li {
        padding-right: 15px;
        float: left;
    }

    #projects-column {
        padding-top: 0px;
    }
}


@media (max-width: 575px) {
    .navbar-brand {
        padding-left: 0px;
    }

    .navbar-nav {
        float: left;    
    }

    .navbar-collapse {
        clear: both;
    }

    #bio-panel {
        padding-bottom: 40px;
    }

    #bio-text-container {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    #bio-panel li {
        padding-right: 0px;
        float: none;
    }
}


@media (max-width: 420px) {
    #bio-panel {
        padding-bottom: 20px;
    }

    #bio-panel img {
        max-width: 50%;
        padding-right: 10px;
    }

    #bio-panel h1 {
        font-size: 1.5em;
        padding-left: 0px;
    }

    #bio-panel h2 {
        font-size: 1.3em;
        padding-left: 0px;
    }

    #bio-panel ul {
        /* font-size: .8em; */
        padding-left: 0px;
    }
}

@media (max-width: 340px) {
    #bio-panel {
        padding-bottom: 1px;
    }

    #bio-panel img {
        max-width: 100%;
        float: none;
    }

    #bio-text-container {
        padding-top: 0px;
    }

    #bio-panel h1 {
        padding-left: 10px;
    }

    #bio-panel h2 {
        padding-left: 10px;
    }

    #bio-panel ul {
        padding-left: 10px;
    }
}